@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&family=M+PLUS+1p&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

*{
    margin: 0px;
}

body{
    height: 97vh;
    background: black url(fotos/blurred_background_image.png) center center no-repeat fixed;
    background-size: cover;
}
header{
    text-align: center;
    background-color: rgba(255, 255, 255, 0.288);
    padding-bottom:5px;
    line-height: 40px;
}
header>h1{
    padding-top: 20px;
}
header>p{
    font-size: 1.3em;
    font-family: "Inconsolata", monospace;
    background-image: linear-gradient(to left to right, rgba(0, 0, 0, 0.295), transparent);
    font-weight: bold;
    padding-bottom: 10px;
    font-weight: bold
}
nav{
    position: relative;
    background-color: rgba(255, 255, 255, 0.288);
    padding: 20px;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.281);
    padding: 4px;
    margin-top: 20px;
}
nav>a{
    font-size: 1.2em;
    padding-right: 20px;
    padding: 10px;
    font-weight: bolder;
    text-decoration: none;
    color: black;
    transition-duration: 0.5s;
    border-radius: 4px;
    margin: 10px;
    line-height: 35px;
}
nav>a:hover{
    background-color: rgba(0, 0, 0, 0.39);
    color: white;
}
h1{
    font-family: "Inconsolata", monospace;
    font-size: 2.5em;
    font-weight: bold;
    text-align: center;
}
main{
    background-color: white;
    min-width: 300px;
    max-width: 1200px;
    margin: auto;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.315);
    font-family: Arial, Helvetica, sans-serif;
}
h2{
    font-family: "Playfair Display", serif;
    font-size: 1.7em;
    font-weight: bold;
}
section>p{
    font-size: 1.2em;
    font-family: "Lato", sans-serif;
    margin-bottom: 15px;
    text-align: justify;
    max-width: 900px;
    margin: auto;
    margin-left: 150px;
    line-height: 26px;
}
section>div{
    margin-left: -70px;
    text-align: center;
    padding-left: 130px;
}
footer{
    text-align: center;
    background-color: rgba(128, 128, 128, 0.356);
    color: white;
    font-size: 1.2em;
    padding: 10px;
}